body{
    background-color: rgb(39, 41, 44);
    font-family: 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.925);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    font-size: 50px;
    font-weight: normal;
    font-weight: bolder;
    margin-top: 80px;
}
p{
    font-size: 23px;
}
h3{
    font-size: 27px;
}
.countdown{
    display: flex;
    transform: scale(2.5);
}
div{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;  
}
img{ width: 500px; 
    height: 400px;
    float: left; 
    margin-left: 20px;
    margin-right: 70px;
    border-radius: 30px;
    }
.time{
    display: flex ;
    justify-content: center;
    text-align: center;
    margin-left: 0px;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    background-color:rgb(14, 12, 8);
    border-radius: 0px;
    width: 40px;
    height: 44px;
    color: rgb(255, 255, 255);
}
#time h2{
    font-weight: bold;
    font-size: 10px;
    line-height: 0;
    display: flex;
}

@media screen and (max-width:700px) {
    h1{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
    .time{
        margin: 1;
    }
    .time h2{
        font-size: 20px;
    }
    .time small{
        font-size: 10px;
    }
    img{
        width: 250px; 
    height: 200px;
    margin-top: 50px;
    }
    p{
        font-size: 15px;
    }
    .countdown{
        transform: scale(1.2);
    }

}
    
